html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family:Poppins;
}
h1{
    font-size: 50px;
    font-family:Audiowide;
}
p{
    font-size: 24px;
    line-height: 50px;
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #87cefa;
    width: 100%;
    height: 70px;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}
.logo {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
}
img{
    width: 20%;
}
a{
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover{
    color: #000;
}
      
.banner-area{
    
    background-image: url(images/rito1.jpg);
    width: 70%;
    height: 120vh;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left bottom;
    
}

.about-area, .port-area, .service-area, .contact-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
}
.text-part{
    top: 4%;
    width: 40%;
    height: 55%;
    left: 65%;
}        
.about-area{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyKJKYtRoytpSDfpu1r1riBXJEYQY1pymWEg&usqp=CAU');
    background-repeat: fill;
    background-size: auto;
}
.experience-area{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyKJKYtRoytpSDfpu1r1riBXJEYQY1pymWEg&usqp=CAU');
    background-repeat: fill;
    background-size: auto;
}
.port-area{
    background-color: #262626;
    color: #fff;
}
.service-area{
    background-color: #fefefe;
}
.contact-area{
    background-color: #262626;
    color: #fff;
}

.about_body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyKJKYtRoytpSDfpu1r1riBXJEYQY1pymWEg&usqp=CAU');
  background-repeat: fill;
}

.experience_body {
    background-image: url('images/bg.jpg');
    background-repeat: fill;
  }

img.one {
    height: auto;
    width: auto;
    position: absolute;
  
    /* Center the top-left position of the img */
    top: 8%;
    right:58%;
  }

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family:  'Times New Roman';
    min-width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.014);
    margin-left: auto;
    margin-right: auto;
    border-radius:6px;
    -moz-border-radius:6px;
    overflow:hidden;
}

/* .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
} */

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #949393;
}

.styled-table tbody tr {
    border-bottom: 1px solid #ffffff;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #ffffff;
}

table td, #customers th {
  padding: 8px;
}

table tr:nth-child(odd){background-color: #f2f2f2;}

table tr:hover {background-color: #f2f2f2;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #331763;
  color: white;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* font-family: 'Quicksand', sans-serif; */
}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("images/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("images/bg.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(224, 30, 250, 0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

#logo {
    width: 1000px;
    height: 1000px;
    position: left;
    left: 30px;
    top: 30px;
}